{% extends "layout.html" %}
{% block heading %}
    Now, choose your favorite websites. Limit to 3 choices only
{% endblock %}
{% block body %}
    <div class="vote-form">
        <form action="{{url_for('result')}}" method="post" >
            {% for name,link in links %}
                <div id={{name}}>
                    <label class="container"><a href={{link}} target="_blank">{{link}}</a>
                        <input name="{{name}}" type="checkbox" onchange='clickChecked(this);'>
                        <span class="checkmark"></span>
                    </label>
                    
                </div>
            {% endfor %}
            <button>Submit</button>
        </form>
    </div>
{% endblock %}